# Statistics Test 2.0

Time - 1.30 Hr


Total Marks = 60

**MCQ**

**Which of the following is a measure of central tendency?**

    A) Variance
    B) Standard Deviation
    C) Mean
    D) Range

C. Mean

**In a dataset with values [2, 4, 4, 6, 8], what is the median?**

    A) 4
    B) 4.5
    C) 6
    D) 8

In [1]:
import statistics as st
x = [2,4,4,6,8]
print(st.median(x))

4

**Inferential statistics are used to:**

    A) Describe the data's central tendency
    B) Summarize the data
    C) Make predictions or inferences about a population based on a sample
    D) Visualize the data

C) Make predictions or inferences about a population based on a sample

**What does a confidence interval represent?**

    A) The range within which the population mean is expected to fall with a certain probability
    B) The exact value of the population mean
    C) The variability within the sample
    D) The number of samples required

In [ ]:
A) The range within which the population mean is expected to fall with a certain probability

**According to the Central Limit Theorem, as the sample size increases, the distribution of the sample mean:**

    A) Becomes skewed
    B) Approaches a normal distribution
    C) Remains uniform
    D) Becomes bimodal

In [ ]:
B) Approaches a normal distribution

**The Central Limit Theorem is important because:**

    A) It helps in defining the exact population distribution
    B) It allows for the use of normal distribution to make inferences about sample means
    C) It eliminates the need for sampling
    D) It ensures sample sizes are always large

In [ ]:
B) It allows for the use of normal distribution to make inferences about sample means

**ANOVA is used to test:**

    A) The association between two categorical variables
    B) The differences between means of three or more groups
    C) The proportion of a sample
    D) The correlation between two continuous variables

In [ ]:
B) The differences between means of three or more groups

**A p-value less than 0.05 in an ANOVA test indicates:**

    A) There is no significant difference between group means
    B) The means of at least one group are significantly different from others
    C) The variances within groups are equal
    D) The sample size is too small

A) There is no significant difference between group means

**The chi-square test of independence assesses:**

    A) If two continuous variables are related
    B) The goodness-of-fit of a model
    C) The association between two categorical variables
    D) The variance of a single variable

In [ ]:
 C) The association between two categorical variables

**The two-sample t-test assumes:**

    A) Equal variances between the two groups
    B) Unequal variances between the two groups
    C) No assumption about variances
    D) The samples are paired

In [ ]:
A) equal variance between the two groups

# Python Basic Exercise

### Solve any three

Que 1 -> You have a list a=[1,2,3,6,9,7,4,5,8], and you have to find the kth element from the list. This means I want to find the 2nd largest number from the list. Similarly, you have to create a function where I pass a number, say 4, and the function will return the 4th largest number from the list.

In [2]:
def k_large(nums, k):
    nums.sort(reverse=True)
    return nums[k - 1]
a = [1, 2, 3, 6, 9, 7, 4, 5, 8]
k = 2
print("2nd largest is ",k_large(a,k))

2nd largest is  8

Que 2-> you have a list [1,8,0,6,4,0,6,0,0,2,0], You need to shift all the zeros to the right , without using any inbuilt function.

Que 3->Reverse a string without using any inbuilt function like slicing.

Que 4-> To find common prefix in array of strings

array= ['Abce','Abcjhgj','Abcf']


The common prefix among the strings 'Abce', 'Abcjhgj', and 'Abcf' is 'Abc'. So, the common prefix is 'Abc'.

Que 5- Given the list l = [1,2,0,1,2,0,0], I want the output to be ans = [0,0,0,2,2,1,1] without using any inbuilt function

In [19]:
def shift_zeros(nums):
    left = 0
    right = len(nums) - 1
    while left < right:
        if nums[left] == 0:
            nums[left], nums[right] = nums[right], nums[left]
            right -= 1
        else:
            left += 1

    return nums
l = [1, 2, 0, 1, 2, 0, 0]
ans = shift_zeros(l)
print("Shifted list",ans)

Shifted list [1, 2, 2, 1, 0, 0, 0]

# Statistics Theory Question

Que 1- What is Central Limit Theoram ? Explain.

Based central limit theorem, normal dist is irrespective of the sample size and non normal dist is the sample size is adequate.

Que 2- What is CDF(Comulative density function). Explain with mathematics.

cumulative density function
it converts the normal distribution into standard normal distriubution
z = (sample mean- mean)/standard deviation

Que 3- What is Anova test. how we can calculate behind the scene ?

Ans= ANOVA- Analysis of Variance, it compares the difference in the means of two or more groups.

Que 4-  What is Chi-Square test. how we will calculate behind the scene.

Ans= it is a statistical tool where it checks the difference between the expected outcome and observed outcome.
chi sqaure = sum(sqaure(observed-expected)/expected)

Que 5-  What is the difference between inferential and descriptive statistics.

Ans= Inferential Statistics
      -apply on some sample population
      -draw conclusions about a population based on information obtained from a sample.
Descriptive Statistics
-apply on whole population
-results be like mean,median and mode

Que 6- Explain any 2 distribution.

There are mainly Normal distribution,Uniform Distribution, symmetric dist and Binomial distribution

Normal distribution - returns a proper bell curve - the mean in normal dist is zero and standard deviation is 1. There are mainly two types of normal dist - skewed right (the bell urve will be the right side of the graph) and skewed left (bell curve will be in the left side of the graph)

Uniform distribution - also known as probability distribution. Here all the values have equal probability. rectangualr in shape

# Statistics Mathematics  Question

Que 1 - if I generate heights for 1000 people from a normal distribution, what would be the probability for a new person to have a height of 70 inches using (CDF) then z-score table? take height in inches.

#### Mean height (in inches) of the population
mean_height = 66

#### Standard deviation of heights (in inches) of the population
std_dev_height = 3


##### Generate data using this code
###### Generate heights for 1000 people from a normal distribution
heights = np.random.normal(mean_height, std_dev_height, 1000)))

In [14]:
import numpy as np
import pandas as pd
import numpy.random as random
import scipy.stats as st

In [11]:
mean_height = 66
std_dev_height = 3

In [12]:
heights = np.random.normal(mean_height, std_dev_height, 1000)

In [13]:
heights

array([67.97486808, 65.77526109, 63.30823998, 58.21121957, 69.6730392 ,
       68.3502061 , 61.67864944, 71.1981722 , 64.95123691, 63.1481846 ,
       67.00240734, 66.70748974, 63.44388807, 68.13497583, 68.90086189,
       67.29007986, 65.90423962, 61.46206381, 62.86977342, 67.1372255 ,
       64.86567374, 70.72332945, 67.20559522, 68.31756245, 58.53793852,
       68.95457338, 64.55616634, 59.43563213, 69.01828066, 63.83445467,
       65.18341811, 70.27885116, 65.01003531, 66.75041877, 64.67392296,
       65.82859773, 63.84767544, 63.1727719 , 59.00535134, 68.21634198,
       67.57269579, 65.30703309, 61.82672227, 65.91487303, 62.65759027,
       69.9228644 , 67.80140235, 61.62038649, 65.1218964 , 60.17875987,
       64.22402536, 66.29427478, 65.19390593, 68.56521886, 65.78939459,
       60.43518093, 65.35527722, 69.31961733, 63.76409758, 64.70824472,
       68.17623539, 65.76606838, 62.25650413, 66.85162017, 66.83386163,
       67.57565319, 65.92585536, 60.22463756, 67.12175281, 67.25906943,
       62.17542715, 74.11115772, 65.45191487, 64.29517013, 63.69623621,
       67.23086383, 61.79499578, 67.10419565, 68.3907763 , 66.30378642,
       69.91050233, 69.97305288, 63.9068955 , 61.83814254, 68.26928216,
       63.00591864, 67.21534042, 68.93921433, 65.17167612, 61.35404516,
       63.20381523, 69.68262805, 58.71468925, 61.80895218, 64.49117162,
       64.55096213, 71.72517875, 70.4625688 , 66.29833699, 69.14445641,
       67.31190228, 64.75989315, 64.00479512, 65.71492794, 70.78164001,
       63.91423126, 63.31975614, 65.53276179, 62.44034382, 65.28396906,
       68.46116239, 65.03531303, 67.12279737, 62.36638373, 61.05359424,
       66.18277394, 67.37887695, 66.02347843, 69.0075818 , 67.98099956,
       65.26235792, 69.71603445, 66.77057267, 63.74701409, 64.50636105,
       62.6700517 , 65.55956496, 63.05238804, 64.55726198, 65.47154453,
       69.58560282, 62.59794195, 67.3969344 , 66.69462513, 68.00790542,
       65.86106747, 61.0838343 , 64.02587235, 64.54877712, 63.03476565,
       66.58999107, 70.70729501, 71.12696893, 63.79068488, 63.6551307 ,
       60.29224694, 67.09302892, 65.262009  , 65.7743756 , 65.62663374,
       63.52398425, 66.79473291, 67.26207486, 67.4007715 , 64.65285505,
       66.16440331, 67.19541568, 65.1567728 , 68.8508941 , 68.41129879,
       67.45174873, 66.49410906, 64.12303673, 67.29721994, 63.34100762,
       63.34948852, 70.10762693, 66.92440341, 66.18244273, 69.7800468 ,
       66.8421413 , 67.73504338, 67.14745652, 66.1322006 , 64.67400257,
       60.11275474, 63.85227715, 71.49811023, 69.64805092, 65.20271414,
       64.01214915, 73.57832625, 66.0624074 , 70.88721938, 65.01554535,
       64.352264  , 68.63093933, 61.52225788, 70.27988767, 67.10745821,
       59.15592382, 70.50040552, 72.33862799, 61.06474961, 69.75267507,
       66.45881052, 67.19899532, 69.08699074, 65.61137011, 61.21806258,
       64.31392095, 64.48418828, 68.43852672, 64.12935209, 65.8475981 ,
       63.43766296, 65.56911091, 64.98315937, 68.62966802, 64.1921151 ,
       61.32212176, 66.8857742 , 69.20937629, 65.13262429, 67.49874662,
       58.82411111, 69.8148408 , 67.87284914, 62.28732538, 73.2071368 ,
       65.74388202, 64.69698441, 66.61322724, 63.82234641, 65.33956955,
       61.02395428, 62.54123143, 61.64080084, 62.16017003, 67.1256498 ,
       67.44970166, 68.90625627, 65.88485026, 66.00360749, 67.56510702,
       71.23513639, 60.64340108, 64.62222274, 60.76576491, 66.35399794,
       65.01717434, 66.961977  , 63.06260814, 73.15053894, 66.39073501,
       65.17166784, 71.30309294, 64.16659828, 69.78404249, 71.46348452,
       64.3942097 , 67.66955545, 59.50200237, 64.51824321, 67.38066525,
       72.60274848, 63.40333757, 65.61231253, 66.39158788, 62.51465701,
       64.82122855, 64.02547882, 69.78103696, 66.29841484, 63.34677088,
       58.5080059 , 63.60719737, 66.03734183, 64.80132895, 67.29536073,
       66.3114103 , 62.60403719, 63.89635735, 68.82055096, 63.59130744,
       64.3651195 , 69.17217175, 67.79963652, 67.38314749, 60.47369745,
       64.56295259, 64.30565467, 65.76460216, 63.82897829, 62.86534939,
       65.18082786, 64.00394949, 65.74519239, 61.96219273, 64.03865156,
       64.52164659, 64.04783403, 67.2110493 , 63.86179403, 66.96531192,
       61.31005747, 62.2915119 , 67.71951976, 64.6944536 , 62.35879507,
       64.23872498, 58.74412905, 71.81171225, 66.37239263, 67.22025897,
       67.33925429, 66.5271073 , 69.04536847, 65.22852137, 63.77421213,
       63.26330695, 69.71993365, 67.61416283, 65.28209851, 69.13887364,
       62.46134622, 67.81746397, 67.10722981, 61.98981265, 64.06810331,
       64.79508929, 69.60263562, 61.09545588, 65.4085685 , 65.55933269,
       64.13997253, 70.28652811, 64.28875917, 65.62409369, 67.166304  ,
       69.27272505, 61.95793183, 66.52061519, 68.60730129, 60.85706339,
       68.20202077, 64.01129643, 64.04252829, 67.40798068, 68.27946424,
       62.98525688, 57.48359233, 69.88538208, 69.30129492, 62.21742798,
       62.15458694, 67.77535432, 66.95795139, 68.12696967, 59.120565  ,
       66.06854824, 64.17213339, 68.95249828, 71.78859183, 59.9095673 ,
       64.25741241, 69.95730745, 63.02076111, 67.2468064 , 64.74387845,
       62.152884  , 63.80090118, 64.57390355, 66.08135534, 65.97716693,
       68.21385608, 66.97643588, 66.4605311 , 62.08138085, 62.97367468,
       61.45254005, 64.24099061, 64.30029006, 67.20983799, 70.08472512,
       67.75247174, 65.82352535, 69.85601716, 65.6856883 , 62.28666093,
       63.0819193 , 59.80921828, 64.23694355, 67.11052678, 63.80763065,
       64.1239055 , 65.79312974, 64.4138834 , 64.75208195, 67.4863858 ,
       64.45349253, 71.56667232, 74.10975581, 67.04029893, 65.04882802,
       64.35248309, 64.35975193, 70.39761198, 62.31865442, 64.33749224,
       67.52913395, 60.265353  , 67.59059445, 65.59980818, 66.10466259,
       69.36651013, 67.0030992 , 65.03470931, 69.67361508, 62.07611441,
       67.27191228, 63.22117067, 67.41366717, 66.33720761, 66.74183983,
       67.15983254, 66.01458857, 62.2819123 , 66.8765576 , 60.9389574 ,
       64.613105  , 59.49940969, 63.31409565, 66.47519334, 66.97826468,
       64.66707453, 65.98435484, 62.39927538, 64.65472615, 69.74700305,
       62.88966846, 63.03346011, 68.96493066, 68.55165195, 61.35654384,
       68.82418058, 63.48359244, 57.15330313, 70.83905387, 65.3382811 ,
       61.59275734, 71.13002993, 65.49021564, 64.78473774, 69.07703045,
       65.89741881, 61.55642081, 69.02736961, 65.69375045, 66.75646371,
       67.92365297, 66.35584549, 65.5915489 , 59.74661324, 68.13126484,
       66.90703356, 65.17964023, 69.41234588, 73.76630633, 67.76715511,
       65.11917542, 59.2971446 , 66.02600982, 61.52382884, 67.9859321 ,
       63.68897608, 58.21730176, 68.34506772, 67.37433671, 65.20394842,
       65.39746482, 66.73496958, 66.88223538, 66.90528953, 68.16348982,
       64.26737432, 61.74386536, 69.22941021, 61.92049187, 66.19259874,
       66.8766447 , 59.21083114, 65.84609566, 64.68685791, 68.72623501,
       68.61608986, 63.25376539, 64.16505385, 63.98642478, 63.54060269,
       65.31610304, 60.76609577, 69.00502934, 70.75077148, 69.39507915,
       63.30854439, 68.30895137, 65.17987691, 64.52534313, 69.85216451,
       63.4263401 , 67.04781919, 65.48408681, 65.88981352, 64.27088944,
       64.96311609, 58.4857987 , 64.72562271, 62.49636322, 68.29400742,
       68.71754908, 66.88632959, 66.38154898, 62.3888205 , 63.44491565,
       68.94172749, 67.59555802, 70.34697845, 65.71443482, 62.07415318,
       67.18849854, 68.95340313, 68.8359108 , 63.37133969, 63.2652589 ,
       64.37801853, 68.93065143, 62.0857483 , 64.17364332, 65.45772711,
       68.69372276, 68.62472655, 75.12983022, 64.4389468 , 62.15153098,
       76.0771062 , 67.42257477, 68.49493725, 67.03429158, 69.10183858,
       65.44487835, 71.39567621, 63.5249084 , 65.03418043, 62.21107895,
       66.30421352, 67.65987765, 65.11853129, 65.39787513, 64.96178239,
       62.98968472, 65.59732527, 65.38625673, 62.75602516, 64.96110636,
       69.74972263, 65.45798564, 65.40719991, 70.31874255, 66.13797614,
       64.4720761 , 66.97492087, 59.90836713, 67.56759988, 70.46483616,
       60.87973044, 65.44556304, 65.21043466, 66.80336328, 65.58408033,
       67.4707017 , 66.17168383, 64.69219609, 64.32975406, 61.26402042,
       66.40905677, 62.90121739, 66.55967828, 61.55259746, 66.23018453,
       63.65784507, 66.66951787, 62.22148906, 62.67357099, 65.64524385,
       65.1410771 , 62.92446771, 68.26102602, 64.02219153, 62.08261619,
       67.62310574, 67.73870824, 67.56157131, 64.32383737, 68.21943386,
       61.57347773, 67.3616087 , 64.10138266, 63.91347357, 67.24839645,
       61.1675797 , 65.13372116, 66.16090372, 61.51620973, 67.51340335,
       67.17846041, 60.96498654, 65.06358852, 62.87435163, 64.21045341,
       62.36121329, 65.43878145, 66.08491748, 61.54642596, 69.39757931,
       66.6933917 , 67.05220672, 57.91781108, 61.94858727, 69.17952372,
       67.26255864, 70.74891173, 65.82222165, 67.28113647, 66.1291885 ,
       67.6752696 , 67.57756365, 69.23085536, 66.56415843, 64.36794617,
       60.69349434, 69.29591298, 60.39260973, 62.78209447, 68.03428164,
       66.00454662, 65.88586393, 65.5490229 , 70.3300217 , 66.75842596,
       73.088444  , 64.90450636, 60.53264014, 67.38063471, 65.78006462,
       66.98829071, 63.44066239, 64.80143507, 66.90386725, 67.50079847,
       65.90111154, 59.8063449 , 65.13694703, 70.1395593 , 67.16165263,
       66.0747341 , 63.84719717, 64.20462357, 69.3810905 , 62.96990034,
       71.59451805, 66.40431674, 65.67897112, 64.10422314, 61.92748356,
       68.65528485, 61.11282361, 64.33551132, 61.68491092, 64.43692731,
       63.70225016, 62.73491005, 65.19534662, 65.70178907, 66.72350104,
       64.29678603, 65.97469094, 64.06833289, 66.23475315, 67.47149644,
       63.42201769, 69.09519788, 64.55657813, 63.27911519, 65.57235256,
       64.4909505 , 70.23077731, 66.33073596, 65.95478824, 65.60641071,
       69.8083624 , 65.58772065, 64.72737092, 60.80988216, 64.62717282,
       60.34906354, 65.50662013, 64.60386616, 67.22025145, 63.63481783,
       65.75747538, 63.57968369, 65.65869083, 71.69300769, 66.91945878,
       74.92764186, 61.35273273, 63.87123931, 70.78191712, 69.32239321,
       64.18550418, 58.90209906, 66.0267332 , 63.61192964, 63.82084084,
       62.27357397, 63.15262217, 63.62577596, 58.49750033, 64.95956628,
       63.76174996, 67.55699482, 68.92148394, 67.63368235, 64.14266193,
       65.32714767, 60.96077994, 67.45810328, 66.16941408, 68.05680176,
       68.7830073 , 67.41933748, 67.14417376, 65.88642446, 64.42389769,
       70.50580127, 68.32575603, 66.34789039, 64.63769729, 66.74110967,
       67.95252554, 64.38808476, 63.99595684, 69.15560678, 65.17108071,
       60.95842904, 69.55596918, 64.38504829, 65.23077316, 67.30684485,
       63.56189615, 68.79482897, 68.25228077, 65.67883185, 67.02613801,
       67.94297235, 66.88495462, 68.0738895 , 66.93795678, 64.03354609,
       66.31661204, 68.4783501 , 69.52385145, 67.52916887, 70.14473412,
       69.28755772, 68.55394583, 62.08408534, 62.69941771, 70.47073427,
       65.4831147 , 60.93878909, 66.6749148 , 64.31760598, 67.41996597,
       65.61117574, 68.11452223, 63.75965701, 61.04405145, 68.23809521,
       70.56876055, 63.64360588, 62.01694724, 69.33041805, 67.14600931,
       70.1876498 , 67.05510701, 62.15214868, 65.9473926 , 67.36506438,
       66.09969795, 74.86674055, 62.91832206, 66.23565772, 65.87128043,
       69.98340972, 65.356785  , 68.3746875 , 66.00246927, 61.45086186,
       69.09545956, 69.65471643, 64.40411279, 65.02621957, 64.51981343,
       67.93771647, 68.88532822, 60.61559833, 64.82743243, 71.65616177,
       64.83269967, 62.87850133, 62.6793522 , 61.94453841, 65.14515708,
       70.72146956, 62.96355558, 64.73071869, 67.75774205, 66.3336611 ,
       65.44062501, 67.78802623, 66.72502057, 60.06889028, 63.167065  ,
       63.48819695, 62.51274357, 62.2666998 , 67.84426156, 64.58740402,
       64.52974903, 67.84740597, 60.03958118, 62.59642053, 66.11851849,
       67.14254832, 62.38162839, 63.20686574, 70.13831963, 63.09478773,
       67.12164307, 70.51531796, 66.89283058, 66.62670319, 67.11200522,
       62.58736106, 67.87390087, 69.50708569, 64.06290357, 63.84603801,
       65.07407438, 58.36785002, 63.08899318, 64.14943103, 67.70566779,
       64.71188715, 69.01084267, 69.32381676, 69.28135222, 60.31623076,
       72.97585535, 69.87179097, 62.86720235, 67.99804092, 66.74109363,
       63.51372803, 65.70175988, 67.63197189, 65.4321868 , 62.86089434,
       65.66912911, 63.419023  , 63.28768068, 65.38884949, 69.09643672,
       69.21382999, 65.54055348, 65.3034163 , 66.41220725, 67.75370523,
       69.31453762, 69.74231712, 65.57872739, 64.96349016, 63.64676194,
       68.16599827, 63.58430718, 70.55502883, 67.21111928, 66.98639836,
       68.52265433, 65.2107241 , 67.19012415, 66.8508011 , 63.09201848,
       64.81373519, 66.75142398, 66.0897059 , 68.23223693, 61.93825236,
       64.17181585, 66.41337278, 69.93020675, 65.81442917, 67.08644806,
       68.93844458, 63.80686459, 66.52440908, 65.66070086, 64.50666644,
       66.71092592, 66.27052389, 65.3073164 , 61.17657725, 67.53829052,
       63.09998371, 64.59572172, 62.62056853, 67.04406996, 65.6223651 ,
       71.89329721, 70.85306919, 61.26073165, 66.91706223, 62.18176346,
       64.29875278, 71.19499333, 64.84708884, 64.70628139, 69.4973142 ,
       66.18039658, 64.23754429, 64.34579811, 70.54035445, 63.15878525,
       67.68721574, 63.77043883, 64.54601587, 68.12690825, 68.08634899,
       66.49467497, 65.49687172, 62.7614692 , 66.50436697, 58.15653716,
       66.89844158, 65.64419014, 68.14569957, 69.9247847 , 64.13631175,
       67.18715047, 69.23391532, 57.69949031, 64.42174121, 66.08197572,
       63.91490325, 65.20945668, 62.51673865, 63.91013239, 67.47045193,
       68.11995073, 64.19043019, 65.03825786, 69.33585735, 65.87545158,
       68.17700884, 62.96391993, 62.21494104, 63.33752496, 63.94270968,
       63.01845798, 70.03393351, 64.5867247 , 67.40960496, 63.86221663,
       63.91307573, 67.35180247, 66.10646271, 64.97712512, 67.10533937,
       66.36610312, 66.32539212, 71.71928956, 67.52219229, 66.49330413,
       67.22126725, 64.71719723, 65.12081691, 69.0296975 , 63.68677723,
       65.21350721, 67.600193  , 61.87993045, 65.71808287, 66.38867744,
       64.98713164, 64.7527415 , 66.33092663, 61.43678373, 60.57761057])

In [15]:
x = 70
prob=st.norm.cdf(x,loc=mean_height,scale=std_dev_height)
print(prob)

0.9087887802741321

Que 2-  Suppose a fitness center manager anticipates the attendance for a particular yoga class throughout the week. Based on historical data and other factors, they estimate the expected attendance in numbers:

### Expected Attendance:

Monday: 40

Tuesday: 45

Wednesday: 38

Thursday: 50

Friday: 55

Saturday: 60

Sunday: 65

However, after the week concludes, the actual attendance is recorded:



### Observed (Actual) Attendance:



Monday: 38

Tuesday: 43

Wednesday: 40

Thursday: 48

Friday: 52

Saturday: 58

Sunday: 62

Ho: There is no significant difference between the expected and observed attendance for the yoga class throughout the week.

Ha: There is a significant difference between the expected and observed attendance for the yoga class throughout the week.

#### Use chi-square test *Statistical Tools*

In [ ]:
# chi square = sum(sqaure(Oi - Ei)/Ei)

In [ ]:
expected = [40,45,38,50,55,60,65]
observed = [38,43,40,48,52,58,62]

In [16]:
chi =[np.square(38-40)/40,
     np.square(43-45)/45,
     np.square(40-38)/38,
     np.square(48-50)/50,
     np.square(52-55)/55,
     np.square(58-60)/60,
     np.square(62-65)/65]
print(" Chi_Square test statistics score ==> ",np.sum(chi))

 Chi_Square test statistics score ==>  0.7429166155481945

As the chi value is greater than 0.1, the Ho is correct

Que3 -> Calculate anova test





    | Student_ID | Semester | Total_Marks |
    |------------|----------|-------------|
    | 1          | Fall     | 85          |
    | 2          | Fall     | 78          |
    | 3          | Fall     | 92          |
    | 4          | Spring   | 88          |
    | 5          | Spring   | 75          |
    | 6          | Spring   | 82          |
    | 7          | Summer   | 90          |
    | 8          | Summer   | 86          |
    | 9          | Summer   | 79          |    


Null Hypothesis (Ho): The average marks of students in each semester are approximately equal.

Alternative Hypothesis (Ha): The average marks of students in at least one semester are different.

In [23]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as sm
import statsmodels.api as k

In [20]:
x ={'student_id':[1,2,3,4,5,6,7,8,9],
   'Semester':['Fall',"Fall",'Fall','Spring','Spring','Spring','Summer','Summer','Summer'],
   'total':[85,78,92,88,75,82,90,86,79]}

In [21]:
df= pd.DataFrame(x)
df

   student_id Semester  total
0           1     Fall     85
1           2     Fall     78
2           3     Fall     92
3           4   Spring     88
4           5   Spring     75
5           6   Spring     82
6           7   Summer     90
7           8   Summer     86
8           9   Summer     79

In [22]:
mod=sm.ols('total ~ Semester',data=df).fit()

In [24]:
avo=k.stats.anova_lm(mod,typ=1)
avo

           df      sum_sq    mean_sq        F   PR(>F)
Semester  2.0   22.222222  11.111111  0.27248  0.77043
Residual  6.0  244.666667  40.777778      NaN      NaN

In [ ]:
#Solution only submit in Github